<div>
  <h2 id="page-heading" data-cy="FaculteHeading">
    <span>Facultes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-faculte"
        [routerLink]="['/faculte/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Faculte</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (facultes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Faculte trouvé</span>
    </div>
  }

  @if (facultes && facultes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="facno">
              <div class="d-flex">
                <span>Facno</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facnom">
              <div class="d-flex">
                <span>Facnom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="adresse">
              <div class="d-flex">
                <span>Adresse</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="libelle">
              <div class="d-flex">
                <span>Libelle</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (faculte of facultes; track trackFacno) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/faculte', faculte.facno, 'view']">{{ faculte.facno }}</a>
              </td>
              <td>{{ faculte.facnom }}</td>
              <td>{{ faculte.adresse }}</td>
              <td>{{ faculte.libelle }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/faculte', faculte.facno, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/faculte', faculte.facno, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(faculte)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
