<div>
  <h2 id="page-heading" data-cy="ChercheurHeading">
    <span>Chercheurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chercheur"
        [routerLink]="['/chercheur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Chercheur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (chercheurs?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Chercheur trouvé</span>
    </div>
  }

  @if (chercheurs && chercheurs.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="chno">
              <div class="d-flex">
                <span>Chno</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="chnom">
              <div class="d-flex">
                <span>Chnom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="grade">
              <div class="d-flex">
                <span>Grade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span>Statut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="daterecrut">
              <div class="d-flex">
                <span>Daterecrut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="salaire">
              <div class="d-flex">
                <span>Salaire</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prime">
              <div class="d-flex">
                <span>Prime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="labno.labno">
              <div class="d-flex">
                <span>Labno</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="supno.chno">
              <div class="d-flex">
                <span>Supno</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="facno.facno">
              <div class="d-flex">
                <span>Facno</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (chercheur of chercheurs; track trackChno) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/chercheur', chercheur.chno, 'view']">{{ chercheur.chno }}</a>
              </td>
              <td>{{ chercheur.chnom }}</td>
              <td>{{ chercheur.grade }}</td>
              <td>{{ chercheur.statut }}</td>
              <td>{{ chercheur.daterecrut | formatMediumDate }}</td>
              <td>{{ chercheur.salaire }}</td>
              <td>{{ chercheur.prime }}</td>
              <td>{{ chercheur.email }}</td>
              <td>
                @if (chercheur.labno) {
                  <div>
                    <a [routerLink]="['/laboratoire', chercheur.labno.labno, 'view']">{{ chercheur.labno.labno }}</a>
                  </div>
                }
              </td>
              <td>
                @if (chercheur.supno) {
                  <div>
                    <a [routerLink]="['/chercheur', chercheur.supno.chno, 'view']">{{ chercheur.supno.chno }}</a>
                  </div>
                }
              </td>
              <td>
                @if (chercheur.facno) {
                  <div>
                    <a [routerLink]="['/faculte', chercheur.facno.facno, 'view']">{{ chercheur.facno.facno }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/chercheur', chercheur.chno, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/chercheur', chercheur.chno, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(chercheur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
