<div>
  <h2 id="page-heading" data-cy="PublicationHeading">
    <span>Publications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-publication"
        [routerLink]="['/publication/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Créer un nouveau Publication</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (publications?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Aucun Publication trouvé</span>
    </div>
  }

  @if (publications && publications.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="pubno">
              <div class="d-flex">
                <span>Pubno</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titre">
              <div class="d-flex">
                <span>Titre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="theme">
              <div class="d-flex">
                <span>Theme</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="volume">
              <div class="d-flex">
                <span>Volume</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span>Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="apparition">
              <div class="d-flex">
                <span>Apparition</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="editeur">
              <div class="d-flex">
                <span>Editeur</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (publication of publications; track trackPubno) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/publication', publication.pubno, 'view']">{{ publication.pubno }}</a>
              </td>
              <td>{{ publication.titre }}</td>
              <td>{{ publication.theme }}</td>
              <td>{{ publication.type }}</td>
              <td>{{ publication.volume }}</td>
              <td>{{ publication.date | formatMediumDate }}</td>
              <td>{{ publication.apparition }}</td>
              <td>{{ publication.editeur }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/publication', publication.pubno, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Voir</span>
                  </a>

                  <a [routerLink]="['/publication', publication.pubno, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(publication)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
